
@media screen and (min-width: 300px) {
  .comments{
    
    &__main-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__heading{
      font-size: 20px;
    }
    &__textarea-container{
      width: 100%;
      display: grid;
      margin-bottom: 0px;
      grid-template-columns: 6fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
    }
    &__textarea{
      border-radius: 5px;
      resize: none;
      font-size: 13px;
      padding: 10px;
      min-height: 80px;
      grid-row: 1 / span 2;
    }
    &__clear-comment-button{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 12px;
      gap: 6px;
      cursor: pointer;
      background-color: red;
      border: 1px solid red;
      color: white;
      font-weight: 500;
      border-radius: 5px;
    }
    &__clear-text{
      &--mobile{
        display: none;
      }
    }
    &__publish-text{
      &--mobile{
        display: none;
      }
    }
    &__add-comment-button{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 12px;
      gap: 6px;
      cursor: pointer;
      background-color: var(--main-color-light);
      border: 1px solid var(--main-color-light);
      border-radius: 5px;
      font-weight: 500;
    }
    &__rating-main-container{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      margin-bottom: 60px;
    }
    &__rating-main-icon{
      font-size: 20px;
      color: orange;
      cursor: pointer;
    }
    &__rating-status{
      font-size: 14px;
      color: var(--main-gray-color)
    }
    &__comment-error{
      position: absolute;
      left: 0;
      bottom: -30px;
      color: red;
      font-size: 13px;
    }
    &__grid-container{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
    }
    &__comment-box{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
    }
    &__image-div{
      width: 30px;
      height: 30px;
    }
    &__image{
      width: 100%;
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
    }
    &__right-div{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
      width: 100%;
    }
    &__user-info-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &__user-info{
      display: flex;
      align-items: center;
      gap: 3px;
    }
    &__username{
      font-size: 12px;
      cursor: pointer;
      display: inline-block;
      max-width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__rating-container{
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1px;
    }
    &__star-icon{
      color: orange;
      font-size: 12px;
    }
    &__commentbody-div{
      
    }
    &__comment{
      font-size: 13px;
    }
  }
}



@media screen and (min-width: 800px) {
  .comments{
    &__clear-text{
      &--mobile{
        display: unset;
      }
    }
    &__publish-text{
      &--mobile{
        display: unset;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .comments{
    &__textarea-container{
      grid-template-columns: 7fr 1fr;
    }
  }
}
@media screen and (min-width: 1024px) {
  .comments{
    &__textarea-container{
      grid-template-columns: 9fr 1fr;
    }
  }
}