


@media screen and (min-width:1024px) {
  .products{
    padding: 70px 80px 20px;
    display: flex;
    align-items: start;
    gap: 10px;
  }
}

@media screen and (min-width:1300px) {
  .products{
    padding: 70px 0px 20px;
  }
}